:root {
    --primary-color : #2D5DA1 ;
    --secondary-color : #eef7fa;
    --dark-color : #2c3e4c;
}

.btn-primary {
    background-color: var(--primary-color);
}
.btn-outline-primary{
    width: 30%;
    border-radius: 50px;
}

.primary-text {
    color: var(--primary-color);
}
.dark-text{
    color: var(--dark-color);
    font-weight: bolder;
    font-size: 3rem;
}
.light-lead{
    color: var(--dark-color);
    opacity: 0.7;
    margin: 20px 0;
}
.lead {
    opacity: 0.9;
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0;
    color: var(--dark-color);
}
textarea{
    height: 300px;
}